@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d74949;
    font-family: 'Roboto', sans-serif;
}


.blank {
    margin: auto;
    padding: 50px;
    background-color: #F3F3F3;
    max-width: 1110px;
    height: 100vh;
}

h1 {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    padding-top: 100px;
    padding-left: 50px;
}
.blank .photo {
    width: 200px;
    height: 185px;
    border-radius: 15px 15px 0px 0px;
}



footer {
    background-color: #3a3a3a;
    color: #ffffff;
    text-align: center;
    position: fixed;
    padding: 20px;
    height: 60px;
    width: 100%;
}

